In [1]:
import pandas as pd 
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
dataset = []
with open('Market_Basket_Optimisation.csv') as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        dataset +=[row]

In [4]:
dataset[1:10]

[['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea'],
 ['low fat yogurt'],
 ['whole wheat pasta', 'french fries'],
 ['soup', 'light cream', 'shallot'],
 ['frozen vegetables', 'spaghetti', 'green tea'],
 ['french fries']]

In [5]:
len(dataset)

7501

In [6]:
te = TransactionEncoder()
x = te.fit_transform(dataset)

In [7]:
x

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [9]:
df = pd.DataFrame(x, columns=te.columns_)

In [10]:
df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [15]:
#1.find frequent itemsets
freq_itemset = apriori(df, min_support=0.01, use_colnames=True)

In [16]:
freq_itemset

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, milk, mineral water)
253  0.017064  (ground beef, spaghetti, mineral water)
254  0.015731         (spaghetti, milk, mineral water)
255  0.010265    (olive oil, spaghetti, mineral water)
256  0.011465     (pancakes, spaghetti, mineral water)

[257 rows x 2 columns]

In [17]:
#find the rules
rules = association_rules(freq_itemset, metric='confidence',min_threshold=0.25)

In [20]:
rules = rules[['antecedents', 'consequents', 'support', 'confidence']]

In [21]:
rules.head()

  antecedents      consequents   support  confidence
0   (avocado)  (mineral water)  0.011598    0.348000
1   (burgers)           (eggs)  0.028796    0.330275
2   (burgers)   (french fries)  0.021997    0.252294
3   (burgers)  (mineral water)  0.024397    0.279817
4      (cake)  (mineral water)  0.027463    0.338816